body {
   line-height: 1;
   width: 75%;
   margin: 0 auto;
   font-family: verdana, arial, helvetica, sans-serif;
   background: black;
   position: relative;
   text-align: center;
   background-color: #cce2ff;
   background-image: linear-gradient(to right, #122531, #122531 3px, #cce2ff 3px, #cce2ff );
   background-size: 20px 100%;
}

header {
   background-color: black;
}

header h1 {
   text-align: center;
   padding: 0.5rem 0 1rem;
   margin: 0 0 0.6rem;
   color: white;
   font-size: 3rem;
   letter-spacing: 5px;;
}

/* main content */

figure {
   position: absolute;
}

#gallery img {
   box-shadow: 5px 5px 50px 3px black;
   border: 4px solid black;
}

article {
   position: relative;
}

/* arrows */
#leftarrow, #rightarrow {
   background: black;
   color: white;
   position: absolute;
   z-index: 30;
   text-align: center;
   height: 135px;
   width: 40px;
   top: 67px;
}

#leftarrow {
   left: 0;
   border-radius: 5px;
}

#rightarrow {
   right: 0;
   border-radius: 5px;
}

#leftarrow p, #rightarrow p {
   position: relative;
   top: 50%;
   margin-top: -0.5em;
}

#fiveButton p:hover, #rightarrow:hover, #leftarrow:hover {
   background: #edebeb;
   color: black;
}

/* display more images button */
#fiveButton {
   display: block;
   width: 100%;
   position: absolute;
   top: 315px;
   color: white;
   text-align: center;
}

#fiveButton p {
   width: 20%;
   margin: 1.25% auto;
   line-height: 2em;
   background: black;
   border-radius: 5px;
}

#fig2 {
   z-index: 10;
   left: 13%;
   top: 34px;
}

#fig3 {
   z-index: 20;
   left: 50%;
   margin-left: -250px;
   top: 0;
}

#fig4 {
   z-index: 10;
   right: 13%;
   top: 34px;
}

/* favourites hub */
#favourites-hub {
   position: absolute;
   background-color: black;
   top: 450px;
   width: 100%;
   margin: 0.8% auto 0;
   padding: 1% 0 0.5%;
}

#favourites-hub h1 {
   color: white;
   font-size: 1.75rem;
   width: 100%;
   margin: 0% 0 1% 0;
}

#fav-thumbnails-container {
   margin: 0.5% 0 0;
   width: 100%;
}

.fav-thumbnails {
   width: 15%;
   border-radius: 5px;
}

.trash {
   width: 2%;
   text-align: center;
}